
/* tree editor */

.page_marker {
    display: block;
    text-align: right;
    float: left;
    padding: 1px 1px 0 0;
}

tr.cut {
    border: 2px dashed black;
    opacity: 0.5;
}

.title-column {
    width: 400px;
}

table#result_list :focus {
    background-color: #ccddff !important;
    outline: 0px;
}

#page_form {
    clear: both;
}

div.order-machine div.inline-related > h3 {
    display: none;
}

.hidden-form-row {
    display: none;
}